body {
  color: #555;
  font-family: '微软雅黑';
  font-size: 13px;
}
a {
  color: #0066C0;
  text-decoration: none;
}
.p-container {
  margin: 10px auto;
  width: 90%;
}
.p-page-title {
  color: #DDD;
  text-align: center;
}
.p-box {
  background-color: #FAFAFA;
  border: 1px solid #BBD3DE;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
  position: absolute;
}
.p-box h2 {
  background-color: #EEE;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #DDD;
  margin: 0;
  padding: 10px;
}
.p-box ul {
  padding-left: 20px;
}
.p-box li {
  list-style-type: none;
  padding-bottom: 10px;
}
.p-clearfix {
  clear: both;
}
.p-color-arrow {
  color: #D35D23;
}
.p-section-list {
  margin-top: 20px;
  position: relative;
}
.p-sub-box {
  padding: 10px;
}

.p-sub-box h3 {
  margin: 0;
}